@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');


body {
    background-color: #FFFDF9;
}

a {
    color: #f26426;
    opacity: .9;
}

a:hover {
    opacity: 1;
    text-decoration:none;
}

a:active {
    color: #f26426;
    text-decoration:none;

}

div.row.blogList {

}

div.row.blogList:hover .title {
    color: #f26426;
}

div.row.blogList h2, div.row.blogList p, div.row.blogList h4
 {
    color: #000000;
    opacity: .8;
}



p.no-data {
    text-align: center;
    /* margin-top: 114px; */
    height: 50%;
    margin-top: 25%;
    border: 1px solid #dadad9;
    padding-top: 90px;
    /* background-color: blue; */
    vertical-align: center;
}
li {
    list-style: none;
}

div.candidate-contact {
    margin-left: 15px;
    margin-bottom: 20px;
}

td.donationDate {
    min-width: 80px;
}

td.donationEmployer {
    max-width: 150px;
}

span.pull-right {
    position: absolute;
    right: 32px;
}

ul.list {
        max-height: 520px;
    overflow: auto;
}
ul.list li {
    border: 1px solid #d9d9d9;
    margin-left: -40px;
    margin-bottom: 20px;
    margin-right: 15px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    cursor: pointer;
    opacity: .8;
}

div.race-panel {
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin-top:20px;
    margin-bottom: 20px;
/*    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
*/    opacity: .8;
min-height: 288px;
}


div.committee-panel {
     border: 1px solid #d9d9d9;
    padding: 5px;
    margin-top:20px;
    margin-bottom: 20px;
    opacity: .8;
}

div.committee-panel p.committee-title {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #dfdfdf;
    text-align: center;
}

div.race-panel span {
    line-height: 30px;
}

div.sectorPieChartContainer canvas.canvasjs-chart-canvas {
    width: 100%;
}

/*div.tall {
    height: 600px;
    width:100%;
}*/

div.sectorPieChartContainer, div.sectorBarChartContainer, div.timelineContainer, div.itemizedChart, div.locationChart{
    height: 500px;
    margin-top:20px;

}


div#timeline-panel, div#sectors-pie, div#sectors-bar, div#scale-type, div#scale-location, div#donors-panel {
    height: 500px;
}

div.tab-content {
    margin-left: 15px;
    margin-right:15px;
}

div#contributions div.row:first-child {
    margin-top: 15px;
}

span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-down {
    top: 2px;
    right: -10px;
}

/*h4.panel-title {
    cursor: pointer;
}*/

div#contributions div.row div.col-xs-12 div.committee-container div.row:first-child{
    margin-top: 15px;
}


div.committee-container {
        padding: 25px;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
}

span.marg10 {
    margin-bottom: 10px;
    line-height: 40px;
}

p.date {
        /* text-align: center; */
    font-size: 11px;
    font-style: italic;
    font-color: blue;
    /* background-color: green; */
    color: black;
    text-align:center;
    margin-bottom:20px;
}

 div.race-panel .title {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    background-color: #dfdfdf;
    text-align: center;
}

span.number {
    float:right;
    font-weight: bold;
}

a.goBack {
    float: right;
    margin-right: 20px;
}

ul.list li:hover {
    opacity: 1;
    box-shadow: #B9E7FF 0px 1px 4px -1px;
}


ul#candidate-list {
    position: absolute;
}

div.candidate-color {
        width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
    margin: 15px;
    display: inline-flex;
}

div.party {
    text-align: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    color: blue;
    padding:5px;
}

div.vote-totals {
    padding-left: 10px;
    padding-top:5px;
    padding-bottom: 5px;
    line-height:30px;
}

h3.name {
    display: inline-flex;
        padding-left: 10px;
    margin-top: 10.5px;
}

span.formatted-votes {
    float: right;
    padding-right: 5px;
    font-weight: bold;
}

div.learn-more {
        text-align: center;
    border-top: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    color: black;
    padding: 5px;
}

a.tooltip-candidate {
    margin-left: 8%;
    text-align:left;

}

div.tooltip-inner {
    width: 400px;
}
span.glyphicon.glyphicon-question-sign {
    top: 2px;
    cursor:pointer;
    color: #555;;
}

div#sectorsFilter, div#scaleFilter{

        padding: 19px;
    /* background-color: antiquewhite; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* padding: 10px 15px 8px 10px; */
    padding: 10px;
    margin-top: 10px;
}

div.toggleViews{
/*    background-color: antiquewhite;
*/    
    /*border: solid 1px #d9d9d9;
border-radius: 10px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    padding: 2px 0px 2px 10px;
}

div.toggleViews div.form-group {
    margin-bottom: 5px;
    }


div#map {
	height: 400px;
    width: 100%;
/*    background-color: #d9d9d9;
*/    position:relative;
}

div#form {
    margin-top: 30px;
}

    div#ward-legend {
        position: absolute;
        top: 95px;
        left: 25px;
        width: 107px;
        height: 94px;
        background-color: #ffffff;
        z-index: 5;
        border-radius: 5px;
        font-family: "Roboto";
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        font-size: 11px;
        display:none;
    }

        div#ward-legend ul {
            list-style: none;
            margin-left: -30px;
        }

            div#ward-legend ul li, div#ward-legend ul span {
                border-bottom: 1px solid #d9d9d9;
                margin-left: -10px;
                padding-left: 11px;
                padding-top: 4px;
                padding-bottom: 4px;
                cursor: pointer;
            }

            div#ward-legend ul li:hover {
                background-color:#B9E7FF;
                font-weight:bold;
            }

            div#ward-legend ul li:first-child {
                border-radius: 5px 5px 0px 0px;
            }

            div#ward-legend ul li:last-child {
                border-radius: 0px 0px 5px 5px;
            }

            div#ward-legend ul li:last-child, div#ward-legend ul span {
                border-bottom: none;
            }

            div#ward-legend a {
                color: black;
            }

            div#ward-legend a:hover {
                text-decoration: none;
            }

h1.map-title {
    font-family: 'Josefin Sans', sans-serif;
}

div.map-holder {
    overflow-x: hidden;
/*    overflow-y: scroll;
*/    padding: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
    box-shadow: 1px 2px .5em #B9E7FF;
    background-color:white;
    border: 1px solid #F1F0EB;
    font-family: 'Open Sans', sans-serif;
    height: 1300px;

}

input.year {
	min-width: 160px;
}

.marker-labes {
    color: white;
}

.display-none {
    display:none;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 3px 1.5rem;
    clear: both;
    font-weight: 400;
    color: #292b2c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

.dropdown-item:hover {
	background-color: #d9d9d9;
	text-decoration: none;
	color: inherit;
    cursor:pointer;

}

select#sRaces:first-child {
/*    font-size:8px;
*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
}

input.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

#backToCity {
    cursor: pointer;
}

span.glyphicon.glyphicon-zoom-out {
    margin-left: 15px;
    top: 2px;
}

div.zeropad {
    padding: 0;
}

div.nopad {
    padding-right: 0;
}

div.margintop15{
    margin-top: 15px;
}

span.glyphicon.glyphicon-question-sign{
    display:inline;
}

span.author {
    font-size: 15px;
    margin-left:1%;
    white-space: nowrap;

}

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        div.zeropad {
        padding-left: 15px;
        padding-right:15px;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        div.map-holder {
            height:890px;
        }
        div#map {
            height: 765px;
        }
        div#form{
            margin-top:0px;
        }

        a.tooltip-candidate {
            margin-left: 9%;
        }


    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
